<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-light" routerLink="/home" routerLinkActive="active">ESCAPEROOM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav me-auto">
                    <a class="nav-link text-light fs-5" routerLink="/home" routerLinkActive="active"><i class="bi bi-house-door-fill"></i> Accueil</a>
                    <a class="nav-link text-light fs-5" routerLink="/tous-les-evenements" routerLinkActive="active"><i class="bi bi-bookmark-star-fill"></i> Evenements</a>
                    <a class="nav-link text-light fs-5" routerLink="/about" routerLinkActive="active"><i class="bi bi-info-circle-fill"></i> À propos</a>
                    <a class="nav-link text-light fs-5" routerLink="/contact" routerLinkActive="active"><i class="bi bi-telephone-fill"></i> Contact</a>
                </div>

                <div class="connexion me-xxl-2 p-3">
                    <!-- lien vers la page de connexion -->
                    <a class="nav-link text-light" routerLink="/login" routerLinkActive="active"><i class="bi bi-person-fill-lock"></i> Se connecter</a>
                    <!-- lien vers la page d'inscription -->
                    <a class="nav-link text-light" routerLink="/register"><i class="bi bi-pencil-square"></i> S'inscrire</a>
                    <!-- lien vers la page de profil -->
                    <a class="nav-link text-light" routerLink="/profil" ><i class="bi bi-person-circle"></i> Profil</a>
                    <!-- lien vers la page du panier -->
                    <a class="nav-link text-light" routerLink="/panier"><i class="bi bi-cart2"></i> Panier</a>
                </div>
            </div>
        </div>
    </nav>
</header>