<main class="p-0 p-lg-5" style="background-color:#F6B51F; height: 50rem;">

    <div class="container bg-dark text-light p-3">

        <div class="w-75 m-auto">
            <!-- texte -->
            <p class="text-center">
                Découvrez l'excitation qui vous enveloppe alors que vous vous aventurez dans les dédales
                de Escaperoom. Vos
                sens en éveil, chaque pas résonne comme une note de suspense dans l'air épais de mystère. Chaque
                tournant
                vous plonge plus profondément dans l'inconnu, votre cœur battant au rythme de l'excitation et de
                l'anticipation. Les énigmes vous défient, les indices vous guident, mais seule votre perspicacité vous
                mènera vers la lumière au bout du tunnel. Dans ce labyrinthe envoûtant, chaque porte franchie vous
                rapproche
                un peu plus de la vérité cachée. Réfléchissez vite, agissez avec précision, et peut-être
                découvrirez-vous
                les secrets enfouis de Escaperoom.</p>
            <!-- boutton -->
            <a routerLink="/tous-les-evenements" class="btn" style="background-color:#F6B51F;"> Découvrir tout nos évènements <i class="bi bi-bookmark-star-fill"></i></a>
        </div>

        <h2 class="text-center">Les évènements les plus demandés</h2>
        

        <div class="row">

            <div class="col-md-6">
                <h2>Horaires</h2>
                <table class="w-100 bg-light text-dark" style="height: 250px;">
                    <thead>
                        <tr>
                            <th class="border border-dark text-center p-2 w-auto">jours</th>
                            <th class="border border-dark text-center p-2 w-auto">matin</th>
                            <th class="border border-dark text-center p-2 w-auto">après-midi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border border-dark text-center p-2 w-auto">lundi</td>
                            <td class="border border-dark text-center p-2 w-auto">10:00-13:00</td>
                            <td class="border border-dark text-center p-2 w-auto">14:00-17:00</td>
                        </tr>
                        <tr>
                            <td class="border border-dark text-center p-2 w-auto">mardi</td>
                            <td class="border border-dark text-center p-2 w-auto">10:00-13:00</td>
                            <td class="border border-dark text-center p-2 w-auto">14:00-17:00</td>
                        </tr>
                        <tr>
                            <td class="border border-dark text-center p-2 w-auto">mercredi</td>
                            <td class="border border-dark text-center p-2 w-auto">9:00-12:00</td>
                            <td class="border border-dark text-center text-danger p-2 w-auto">fermé</td>
                        </tr>
                        <tr>
                            <td class="border border-dark text-center p-2 w-auto">jeudi</td>
                            <td class="border border-dark text-center p-2 w-auto">10:00-13:00</td>
                            <td class="border border-dark text-center p-2 w-auto">14:00-17:00</td>
                        </tr>
                        <tr>
                            <td class="border border-dark text-center p-2 w-auto">vendredi</td>
                            <td class="border border-dark text-center p-2 w-auto">10:00-13:00</td>
                            <td class="border border-dark text-center p-2 w-auto">14:00-17:00</td>
                        </tr>
                    </tbody>

                </table>
            </div>

            <div class="col-md-6">
                <div>
                    <h2>Nos locaux</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2624.9013637667113!2d2.2108015268719!3d48.860091250586215!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e664cb1c5294ab%3A0xe6d1b8912603f27!2sBd%20Louis%20Loucheur!5e0!3m2!1sfr!2sfr!4v1701445924525!5m2!1sfr!2sfr"
                        class="w-100" style="height: 250px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <p class="font-switch"><strong>Escaperoom</strong> Bd Louis Loucheur, 92150 Suresnes, France
                    </p>
                </div>
            </div>

        </div>

    </div>
</main>